/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use "reset";
@use "variables";
@use "mixins";

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: white;
	font-family: 'Jost', sans-serif;
	
	// @include mixins.bp-medium{
	// 	background-image: url(/dist/img/Rectangle.png);
	// 	background-repeat: no-repeat;
	// 	background-size: contain;
	// }
}

/* 2. Content ================================= */
header{
	background: white;
	// margin: 0 auto;
	// padding: 0;
	width: 100%;
	height:9vh;
	position: relative;
	
	
	.logo{
		width: 1.5em;
		// margin: 0 auto;
		margin-left:10px;
		
		
	}
	#home-link{
		text-decoration: none;
		display: flex;
		flex-direction: row;
		color: black;
		
		justify-content: flex-start;
		align-items: flex-end;
		position: absolute;
		top: 30%;
    	left: 5%;
		.icons{
			max-width: 24px;
			// margin-top: 5px;
			@include mixins.bp-medium{
				margin-right:.5em ;
			}
		}
		span{
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: .2em ;
			font-size: 21px;
			margin-left:1em
			
		}
	}
	


	.header-menu{ // the hamburger and nav parent
		
		z-index: 99;
		position: absolute;
		top: 0%;
		right: 0%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		.nike-header-icon-container{
			z-index: 100;
			margin: 5px;
			.icons{
				margin-left: 10px;
			}
			
		}
		
		#header-menu{
			display: none;
		}
			
		label {
			margin-right: 1em;
    		margin-top: 1em;
			span{
				cursor: pointer;
				display: block;
				width: 24px;
				height: 4px;
				// border-radius: 15px;
				background: rgb(0, 0, 0);
				position: relative;
				transform-origin: center center;
				transition: transform 250ms ease;
				margin:5px;
				@include mixins.bp-medium{
					display: none;
				}
				

			}
		}
		#header-menu:checked ~ label {
			span {
				background: rgb(0, 0, 0);

				&:nth-of-type(1) {
					top: 25%;
					transform: rotate(-45deg);	
				}
				&:nth-of-type(2) {
					right: 0%;
					transform: rotate(45deg);	
				}
				&:nth-of-type(3) {
					opacity: 0;	
				}
				
			}
			
		}
		nav{
			// display: none;
			background: rgb(0, 0, 0);
			background-image: url(/dist/img/tent.png);
			background-repeat: no-repeat;
			background-position: bottom right;
			background-position-x:80% ;
			position: absolute;
			top: 135%;
			right: 0;
			width: 100vw;
			z-index: -1;
			height: 0vh;
			transition:  .5s;
			overflow: hidden;
			@include mixins.bp-medium{
				overflow: visible;
				top: 35%;
    			right: 100%;
				width: 60vw;
			}

			ul{
				list-style: none;
				text-align: left;
				margin-top: 4em;
				margin-left: 2em;
				@include mixins.bp-medium{
					display: flex;
    				flex-direction: row;
					text-align: center;
					margin-top: 1.5em;
					align-items: center;
					justify-content: flex-end
					

				}
				>li{
					margin-bottom: 2em;
					a{
						color: white;
						text-decoration: none;
						font-weight: 400;
						font-size: 1.5em;
						letter-spacing: .2em;
						text-transform: uppercase;
						&:hover{
							color: white;
							transition: ease-in-out .25s;
							@include mixins.bp-medium{
								
								color: rgb(130, 130, 130);
							}
						}
						@include mixins.bp-medium{
							font-size: 1em;
							margin-right: 1em;
							color: variables.$black;
							
						}
						@include mixins.bp-large{
							
							margin-right: 2em;
						}
					}
				}
			}
		}
		#header-menu:checked ~ nav {
			display: block;
			height: 35vh;
		}
	}


	
	
}
.hero-container{
	
	
	background:white;
	

	&__container{
		background-color: variables.$love;
		background-image: url(/dist/img/circles.png);
		width: 100vw;
		height: 100vh;
		display: grid;
		background-repeat: 1;
		background-position-x: -3em;
		// transform: scaleX(-1);
		grid-template-columns: repeat(6,1fr);
		grid-template-rows: repeat(6,1fr);
		@include mixins.bp-medium{
			width:90vw;
			height: 50vh;
			border-radius: 1em;
			margin:0 auto;
		}
		@include mixins.bp-large{
			grid-template-columns: repeat(12,1fr);
			grid-template-rows: repeat(12,1fr);
			width:90vw;
			height: 70vh;
			
		}
			div{
				grid-column: 2/7;
				grid-row: 4/7;
				justify-self: self-end;
				background: url(/dist/img/phone.png);
				background-repeat: no-repeat;
				background-size: cover;
				width: 24em;
				background-position-x: -2em;
				background-position-y: 4em;
				@include mixins.bp-medium{
					grid-column: 5/7;
					grid-row: 2/7;
					width: 20em;
					// transform: scaleX(-1);
				}
				@include mixins.bp-large{
					grid-column: 12/12;
					grid-row: 2/13;
					width: 30em;
					// transform: scaleX(-1);
				}
				
			}
			h1{
				color: variables.$white;
				font-size: 2em;
				text-align: left;
				font-weight: 500;
				grid-column: 2/6;
				margin-top: 2em;
				font-weight: 300;
				// z-index: 1;
				@include mixins.bp-medium{
					grid-column: 2/5;
					font-size: 2em;
				}
				@include mixins.bp-large{
				    grid-column: 2/10;
    				grid-row: 2/5;
    				font-size: 3em;
				}
				
			}
			input{
				color:black;
				font-family: variables.$main-font;
				text-transform: uppercase;
				border: none;
				border-radius: 5px;
				height:5vh;
				padding: 10px;
				grid-column: 4/6;
				grid-row: 3;
				@include mixins.bp-medium{
					grid-column: 2/3;
					grid-row: 4;
				}
				@include mixins.bp-large{
					grid-column: 2/5;
					grid-row: 9;
				}
			}
			
			label{
				grid-column: 2/6;
				grid-row: 2;
				color: white;
				line-height: 1.5em;
				margin-top: 2em;
				font-weight: 300;
				font-size: 1em;
				@include mixins.bp-medium{
					grid-column: 2/5;
					font-size: 1em;
				}
				@include mixins.bp-large{
					grid-column: 2/11;
					grid-row: 8/7;
				}
			}
	}
	#web-design{
		height: unset;
		@include mixins.bp-medium{
			height: 30vh;
			width: 90vw;
		}
		h1{
			grid-column: 3/6;
			grid-row: 2;
			@include mixins.bp-medium{
				grid-column: 1/7;
				justify-self: center;
			}
			@include mixins.bp-large{
				font-size: 3em;
				grid-column: 5/9;
				justify-self: center;
			}
		}
		label{
			grid-row: 3;
			text-align: center;
			@include mixins.bp-medium{
				grid-column: 6/2;
				justify-self: center;
			}
			@include mixins.bp-large{
				
				grid-column: 5/9;
				justify-self: center;
			}
		}
	}
	
}
main{
	background: variables.$white;
	// height: 110vh;

	.projects-container{
		
		display: grid;
		grid-template-columns: 1em 1fr  1em;
		margin-top: 2em;
		// grid-template-rows: 3em 1fr 1fr 1fr 1em;
		@include mixins.bp-medium{
			margin-top: 1em;
			grid-template-columns:  repeat(6,1fr) ;
			grid-template-rows: repeat(2,1fr) ;
			margin-top: 3em;
		}
		@include mixins.bp-large{
			margin-top: 1em;
			grid-template-columns:  repeat(12,1fr) ;
			grid-template-rows: repeat(2,1fr) ;
			margin-top: 3em;
		
		}
		// &:nth-child(1){
		// 	&__webDesign{
		// 		margin:5 auto;
		// 	}
				
			
		// }

		#services{
			background-color: rgba(0, 0, 0, 0.452);
			background-blend-mode: color;
			background-size: cover;
			width: 93vw;
			height: 50vh;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 1em;
			position: relative;
			margin-bottom: 2em;
			@include mixins.bp-medium{
				width:33.33vw;
				height: 33.33vh;
				margin:.5em;
				&:nth-of-type(3) {
					width: 70vw;
					border-radius:1em;
				
				}

			}
			@include mixins.bp-large{
				width:40vw;
				// height: 33.33vh;
				// margin:.5em;
				&:nth-of-type(1) {
					width: 45vw;
    				margin-left: 3em;
					height: 70vh;
					background-size: cover;
					border-radius:1em;
				
				}
				&:nth-of-type(2) {
					width: 45vw;
					border-radius:1em;
				
				}
				&:nth-of-type(3) {
					// width: 40vw;
					// border-radius:1em;
					width: 45vw;
    				border-radius: 1em;
    				margin-right: 4em;
				
				}

			}

			div{
				display: flex;
				flex-direction: column;
				align-items: center;
				// display: block;
    			margin-left: auto;
    			margin-right: auto;
				position: relative;
				margin: 12em auto;
				
				@include mixins.bp-medium{
					margin: 7em auto;
				}
				
				

				label{
					color: variables.$white;
					text-transform: uppercase;
					font-size: 2.375em;
					font-weight: 300;
					letter-spacing: .1em;
					margin-bottom: .5em;
					
					top:50%;
	
				}
				a{
					color:white;
					font-size: 1em;
					font-weight: 300;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: .3em;
					transition: .5s ease-in-out;
					
					span{
						color:variables.$blood;
						font-weight: 600;
						
					}
					&:hover{
						color:variables.$love;
						transform: translate(10%);
						@include mixins.bp-medium{
							transform: translate(5%);
						}
					}
					
	
				}
			}
		}
		&__webDesign{
			background: url(/dist/img/webDesign.jpg);
			grid-column: 2;
			grid-row: 2;
			@include mixins.bp-medium{
				grid-column: 2/4;
				grid-row: 1;
				width:50vw;
				label{
					margin: 0 auto;
				}
				a{
					margin: 0 auto;
				}
			}
			@include mixins.bp-large{
				grid-column: 1/4;
				grid-row: 1/12;
			}	
		}
		&__appDesign{
			background: url(/dist/img/appDesign.jpg);
			grid-column: 2;
			grid-row: 3;
			@include mixins.bp-medium{
				grid-column: 5;
				grid-row: 1;
				width: 50vw;	
			}
			@include mixins.bp-large{
				grid-column: 7/11;
			}

		}
		&__graphicDesign{
			grid-column: 2;
			grid-row: 4;
			background: url(/dist/img/graphicDesign);
			@include mixins.bp-medium{
				grid-column: 2/6;
				grid-row: 2;
				justify-self: center;
				
				// width: 100vw;
				// height: 100vh;

			}
			@include mixins.bp-large{
				grid-column: 9/11;
			}
			
			div{
				label{
					text-align: center;
					// margin:0 auto;
					top: 25%;
					left:0%;
				}
				
			}
		}
		

	}
	.expertise-container{
		display: grid;
		grid-template-columns: 2em 1fr 1fr 1fr 1fr 2em;
		grid-template-rows: 3em 1fr 1fr 1fr 1em;
		@include mixins.bp-medium{
			margin-bottom: 2em;
		}
		@include mixins.bp-large{
			margin-bottom: 2em;
			grid-template-columns: repeat(3,1fr);
			grid-template-rows: 1fr;
			justify-self: center;
		}
		
		
		#expertise{
			justify-self: center;
			text-align: center;
			@include mixins.bp-large{
				margin-top: 5em;
					width: 25vw;
					justify-self: center;
					&:nth-of-type(3){
						margin-top:3em;
					}
			}
			img{
				width:15em;
			}
			figcaption{
				margin-top:1em;
				font-size: 1em;
				line-height: 2em;
				font-weight: 300;

				
				span{
					font-size: 1.25em;
					text-transform: uppercase;
					margin-bottom: 1em;
					letter-spacing: .3em;
				}
				
			}
		}
		&__figureOne{
			grid-column: 2/6;
			grid-row: 2;
			@include mixins.bp-large{
				margin-top: unset;
				grid-column: 1;
				grid-row: 1;
				margin-left:2em;
			}	
		}
		&__figureTwo{
			grid-column: 2/6;
			grid-row: 3;
			margin-top:2em;
			@include mixins.bp-large{
				margin-top: unset;
				grid-column: 2;
				grid-row: 1;
			}
		}
		&__figureThree{
			grid-column: 2/6;
			grid-row: 4;
			margin-top:2em;
			margin-bottom:2em;
			@include mixins.bp-large{
				margin-top: unset;
				grid-column: 3;
				grid-row: 1;
			}
		}
		
	}
	.innovations-container{
		display: grid;
		grid-template-columns: 2em 1fr 1fr 1fr 1fr 2em;
		grid-template-rows:  1fr;
		margin-top: 2em;
		@include mixins.bp-large{
			grid-template-columns:repeat(12,1fr) ;
			grid-template-rows:  1fr 1fr;
			// grid-template-rows:3em 1fr 1fr 3em;
			
		}
		
		div{
			background-color: variables.$love;
			grid-column: 2/6;
			grid-row: 1/3;
			border-radius: 1em;
			display: flex;
			flex-direction: column;
			align-items: center;
			@include mixins.bp-large{
				width: 75vw;
    			margin: 0px auto;
				
			}
			label{
				color: variables.$white;
				font-size: 2em;
				text-align: center;
				font-weight: 300;
				margin-top: 1.5em;
				
			}
			p{
				font-size: 1em;
				color: variables.$white;
				font-weight: 300;
				text-align: center;
				line-height: 1.5em;
				margin: 2em 2em;
			}
			button{
				color: black;
				text-transform: uppercase;
				width:10em;
				padding: 1em;
				border-radius: .5em;
				border:none;
				margin-bottom: 3em;
			}
		}
		
	}
	//web design page
	.site-container{
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		
		margin: 1em 1em .5em .5em;
		@include mixins.bp-medium{
			display: grid;
			grid-template-columns: repeat(2,1fr);
			// grid-column-gap:.2em;
		}
		@include mixins.bp-large{
			
			grid-template-columns: repeat(3, 1fr);
			// grid-template-columns: repeat(2,1fr);
			justify-self: center;
			width:80vw;
			margin-left:3.3em;
		}
		
		figure{
			background:#FDF0F0;
			margin-bottom: 1em;
			border-radius: 1em;
			width: 96vw;
			margin-right:2em;
			// height: 60vh;
			@include mixins.bp-medium{
				width: 48vw;
				justify-self: center;
				
			}
			@include mixins.bp-large{
				width: 29vw;
				// margin: 1em auto;
				
			}
			img{
				width: 96vw;
				// height: 50vh;
				text-align: center;
				border-top-right-radius:1em;
				border-top-left-radius: 1em;
				@include mixins.bp-medium{
					width: 48vw;
				}
				@include mixins.bp-large{
					width: 29vw;
					
				}
			}
			figcaption{
				margin-top:1em;
				font-size: 1em;
				line-height: 2em;
				font-weight: 300;
				// background:#FDF0F0;
				text-align: center;
				display: flex;
				flex-direction: column;
				padding: 1em;
				
				
				
				span{
					color:variables.$love;
					font-size: 1.5em;
					text-transform: uppercase;
					letter-spacing: .3em;
					font-weight: 400;
				}
				
			}
			
			// label{
			// 	text-align: center;
			// 	font-weight: 300;
			// }
		}
	}
	.portfolio-container{
		display: grid;
		grid-template-columns: 1em 1fr  1em;
		margin-top: 2em;
		// grid-template-rows: 3em 1fr 1fr 1fr 1em;
		@include mixins.bp-medium{
			margin-top: 1em;
			grid-template-columns:  repeat(12,1fr) ;
			// grid-template-rows: repeat(2,1fr) ;
			margin-top: 3em;
		}
		// @include mixins.bp-large{
		// 	margin-top: 1em;
		// 	grid-template-columns:  repeat(12,1fr) ;
		// 	grid-template-rows: repeat(2,1fr) ;
		// 	margin-top: 3em;
		
		// }
		
				
			
		

		#projects{
			background-color: rgba(0, 0, 0, 0.452);
			background-blend-mode: color;
			width: 93vw;
			height: 50vh;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			border-radius: 1em;
			// position: relative;
			margin-bottom: 2em;
			@include mixins.bp-medium{
				// width:40vw;
				
				// margin:.5em;
				&:nth-of-type(1) {
					width: 100vw;
					height: 30vh;
					border-radius:1em;
				
				}
				&:nth-of-type(2) {
					width: 100vw;
					height: 30vh;
					border-radius:1em;
				
				}
			}
			@include mixins.bp-large{
				// width:40vw;
				
				// margin:.5em;
				&:nth-of-type(1) {
					width: 40vw;
					height: 30vh;
					border-radius:1em;
				
				}
				&:nth-of-type(2) {
					width: 40vw;
					height: 30vh;
					border-radius:1em;
				
				}
			}
			div{
				display: flex;
				flex-direction: column;
				align-items: center;
				// display: block;
    			margin-left: auto;
    			margin-right: auto;
				position: relative;
				margin: 12em auto;
				
				@include mixins.bp-medium{
					margin: 7em auto;
				}
			
				label{
					color: variables.$white;
					text-transform: uppercase;
					font-size: 2.375em;
					font-weight: 300;
					letter-spacing: .1em;
					margin-bottom: .5em;
					
					top:50%;
	
				}
				a{
					color:white;
					font-size: 1em;
					font-weight: 300;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: .3em;
					transition: .5s ease-in-out;
					
					span{
						color:variables.$blood;
						font-weight: 600;
						
					}
					&:hover{
						color:variables.$love;
						transform: translate(10%);
						@include mixins.bp-medium{
							transform: translate(5%);
						}
					}
					
	
				}
			}
		}
		
		&__appDesign{
			background: url(/dist/img/appDesign.jpg);
			grid-column: 2;
			grid-row: 3;
			@include mixins.bp-medium{
				grid-column: 1/6;
				// grid-row: 1;
				// width: 50vw;	
			}
			@include mixins.bp-large{
				grid-column: 2/11;
			}

		}
		&__graphicDesign{
			grid-column: 2;
			grid-row: 4;
			background: url(/dist/img/graphicDesign);
			@include mixins.bp-medium{
				grid-column: 6/13;
				
				justify-self: center;

			}
			@include mixins.bp-large{
				grid-row: 3;
			}
			
			div{
				label{
					text-align: center;
					// margin:0 auto;
					top: 25%;
					left:0%;
				}
				
			}
		}
	}
	
	
	
}
footer{
	background: variables.$black;
	margin-top: -10em;
	// &::after{
	// content: "";
	// width:5em;
	// height: 1em;
	// color:white;	
	// }
	.footer-container{
		display: grid;
		grid-template-columns:repeat(1,1fr) ;
		
		@include mixins.bp-large{
			grid-template-columns:repeat(12,1fr) ;
			grid-template-rows:3em 1fr 1fr 3em;
		}
		
		

		figure{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-end;
			margin-top: 12em;
			
			@include mixins.bp-large{
				
				grid-row: 2;
				grid-column: 5/1;
			}
			figcaption{
				color:variables.$darkGrey;
				text-transform: uppercase;
				letter-spacing: .3em;
				font-weight: 500;
				margin-left:1em;
			}
	
		}
		&__ul{
			margin:2em;
			text-align: center;
			

			@include mixins.bp-large{
				grid-row: 2;
    			grid-column: 9/13;
				align-self: flex-end;
				display: flex;
				flex-direction: row;
				margin:0;
			}
			
			li{
				margin-bottom: 1em;
				@include mixins.bp-large{
					margin-bottom: 0;
					margin-left:1em
				}
				a{
					color: variables.$darkGrey;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: .3em;
					font-weight: 300;
					transition: .5s ease-in-out;
					&:hover{
						color:white;
					}
				}
			}
		}
		.footer-info{
			text-align: center;
			list-style: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			
			h4{
				color: variables.$darkGrey;
				font-weight: 600;
			}
			li{
				color:variables.$darkGrey;
				font-weight: 300;
				margin:.5em;
			}
		}
		&__location{
			@include mixins.bp-large{
				grid-row: 3;
    			grid-column: 2/4;
			}
		}
		&__contact{
			margin-top: 1em;
			@include mixins.bp-large{
				grid-row: 3;
				grid-column: 4/6;
				margin-top: 0;
			}
		}
		&__socials{
			display: flex;
			justify-content: center;
			
			@include mixins.bp-large{
				grid-column: 9;
				grid-row: 3;
				align-self: center;
			}
			li{
				margin: .5em;
				.fab{
					color: variables.$darkGrey;
					font-size: 1.5em;
				}
			}
		}
	}

	
}

